################################################################################
#   BayLeaf 2D game engine - .gitignore
################################################################################

*.exe
*.pdb
*.vs/
build/x64_Debug/obj/
external/SDL2-2.26.5/docs/
optional/
